@*@model MeinProfil.Models.EditPictView

@{
    ViewData["Title"] = "Edit Profile";
}
<div class="text-center">
    <h1 class="display-4">Edit Profile</h1>
</div>
<div class="row">
    <div class="col-md-4 mx-auto">
        <hr class="border border-dark opacity-50" />
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label for="ImagePath" class="form-label"></label>
                <input class="form-control" type="file" id="ImagePath" name="ImagePath">
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success mt-2" />
            </div>
            <br />
            <div>
                <a href="@Url.Action("Profile", "User", new { username = User.Identity.Name })" class="btn btn-primary btn-mt-2">Mein Profil</a>
                <a asp-controller="User" asp-action="Index" class="btn btn-primary btn-mt-2">Home</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
*@