@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <div class="row">
        <div class="justify-content-center text-center">
            <br />
            <br />
            <h1 class="display-3">Hello @ViewData["name"]</h1>
            <h5 class="display-5">Have a good day!</h5>
        </div>
    </div>
    <br />
    <div style="text-align:center;">
        <a href="@Url.Action("Profile", "User", new { username = User.Identity.Name })" class="btn btn-primary btn-lg">Mein Profil</a>
        <button id="logout-btn" class="btn btn-danger btn-lg">Logout</button>

        <script>
            document.getElementById('logout-btn').addEventListener('click', function (event) {
                event.preventDefault();
                var confirmation = confirm("Anda yakin ingin keluar?");
                if (confirmation) {
                    window.location.href = "/account/logout";
                }
            });
        </script>

    </div>
</div>
