@model MeinProfil.Models.AppUser

@{
    ViewData["Title"] = "Profile";
}

<h1 class="display-4 text-center">People</h1>

<div class="row">
    <div class="col-md-4 mx-auto">
        <hr class="border border-dark opacity-50" />
        <div class="text-center">
            <img src="/upload/@Url.Content(Model.Path)" width="200" height="200" class="rounded-circle">
        </div>
        <br />
        <table class="table table-striped">
            <tr>
                <td><strong>Fullname</strong></td>
                <td>@Html.DisplayFor(model => model.Fullname)</td>
            </tr>
            <tr>
                <td><strong>Username</strong></td>
                <td>@Html.DisplayFor(model => model.UserName)</td>
            </tr>
            <tr>
                <td><strong>City</strong></td>
                <td>@Html.DisplayFor(model => model.City)</td>
            </tr>
        </table>
        <br />
        <div style="text-align:center;">
            <a href="@Url.Action("Profile", "User", new { username = User.Identity.Name })" class="btn btn-primary btn-mt-2">Mein Profil</a>
            <a asp-controller="User" asp-action="Index" class="btn btn-primary btn-mt-2">Home</a>
            <a asp-controller="User" asp-action="Members" class="btn btn-primary btn-mt-2">Members</a>
        </div>
    </div>
</div>
