@model List<dynamic>

@{
    ViewData["Title"] = "Members";
}

<div class="text-center">
    <h1 class="display-4">Member List</h1>
</div>
<hr class="border border-dark opacity-50" />
<table class="table table-dark table-striped">
    <thead>
        <tr class="text-center">
            @*<th>Fullname</th>*@
            <th>Username</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr class="text-center">
                @*<td>@member.Fullname</td>*@
                <td>@member.Username</td>
                <td>@member.City</td>
            </tr>
        }
    </tbody>
</table>
<br />
<div style="text-align:center;">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg">Home</a>
    <a asp-controller="Account" asp-action="Register" class="btn btn-primary btn-lg">Register</a>
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg">Login</a>
</div>
